*{
    margin: 0;
    padding: 0;
    box-sizing: border-boxs;
}

li{
    list-style: none;
    line-height: 20px;
    display: flex;
    margin: 10px 0;
}

h1,h2{
    text-align: center;
    text-transform: uppercase;
}
h2{
    color: red;
}

.circle_past{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: blue;
    border: 5px solid yellow;
    margin-right: 5px;
}
.circle_next{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: gainsboro;
    border: 5px solid blue;
    margin-right: 5px;
}

.container{
    width: 20%;
    margin: 0 auto;
    background-color: aquamarine;
}

.header{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
}
.main{
    background-color: lightgray;
    display: flex;
    justify-content: center;
    padding: 10px 20px;
}
.list{
    width: 100%;
}

.active{
    color: red;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: bold;
}
.display_none{
    display: none;
}